<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Amaze UI Examples</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="stylesheet" href="/static/css/amazeui.min.css">
  <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
<div class="am-g myapp-login">
	<div class="myapp-login-logo-block">
		<div class="myapp-login-logo">
			<img src="/static/images/yz.png" style="width: 20%">
		</div>
		<div class="myapp-login-logo-text">
			<div class="myapp-login-logo-text">
				<span>Traveler</span>
				<div class="info">世界其实就是一首诗.</div>
			</div>
		</div>

{#		<div class="login-font">#}
{#			<i>Log In </i> or <span> Sign Up</span>#}
{#		</div>#}
		<div class="am-u-sm-10 login-am-center">
			<form class="am-form" method="post" >
                {% csrf_token %}
				<fieldset>
					<div class="am-form-group">
						<input type="text" class="" id="doc-ipt-email-1" name="username" placeholder="输入用户名"><scan>{{ error1 }}</scan>
					</div>

					<div class="am-form-group">
						<input type="password" class="" id="doc-ipt-pwd-1" name="password1" placeholder="设置个密码吧">
					</div>
                    <div class="am-form-group">
						<input type="password" class="" id="doc-ipt-pwd-1" name="password2" placeholder="请再次输入密码"><scan>{{ error2 }}</scan>
					</div>
					<p><button type="submit" class="am-btn am-btn-default">Sign Up</button></p>
				</fieldset>
			</form>
		</div>
	</div>
</div>
<script src="js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/static/js/amazeui.min.js"></script>
<script src="/static/js/app.js"></script>
</body>
</html>